<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="stylesheet/normalize.css")
    link(rel="stylesheet", href="stylesheet/style.css")
    title Fool
  body
    div(class="hide" data-images= images id="img")
    section(class="wrapper")
      header(class="top")
        include ./blocks/top.pug
      main(class="middle")
        div(class="field")
          include ./blocks/listRooms.pug
          p(class="nameGamer")= userName
      footer(class="bottom") 
        include ./blocks/bottom.pug
  script(src="/socket.io/socket.io.js")
  script(src="/javascript/listRooms.js")
  //- script(src="/javascript/gameField.js")