<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="stylesheet/normalize.css")
    link(rel="stylesheet", href="stylesheet/style.css")
    title Fool
  body
    section(class="wrapper")
      div(class="start-game")
        h1(class="start-game-name") Fool
        button(class="start-game-button") Start
      -let i = -1
      while i < length
        -i++
        div(class="cards")
          //- img(src=`/images/compress/cards/${images[i]}`)
  script(src="/socket.io/socket.io.js")
  script(src="javascript/socket.js")