<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="stylesheet/normalize.css")
    link(rel="stylesheet", href="stylesheet/style.css")
    title Fool
  body
    div(class="hidden" data-images= images id="img")
    section(class="wrapper")
      div(class="start-game")
        h1(class="start-game-name") Fool
        button(class="start-game-button") Start
      //- div(class="cards")
        //- img(src='/images/compress/cards/ace_bube.png')
  script(src="/socket.io/socket.io.js")
  script(src="javascript/socket.js")