<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="stylesheet/normalize.css")
    link(rel="stylesheet", href="stylesheet/style.css")
    title Fool
  body
    section(class="wrapper")
      header(class="top")
        include ./blocks/menu.pug
      div(class="listRooms")
        p(class="listRooms__userName")= userName
        ul(class="listRooms__rooms" data-listRooms= list)
          each val in list
            li(class="rooms__items")
              a(href="./game" class="rooms__link")= val
  script(src="/socket.io/socket.io.js")
  script(src="javascript/listRooms.js")