div(class="listRooms")
  p(class="listRooms__userName")= userName
  ul(class="listRooms__rooms" data-listRooms= list)
    each val in list
      li(class="rooms__items")
        a(class="rooms__link")= val
p(class="hide") Sorry, this room is busy!!! Choose another!!!