main(class="middle")
  div(class="beginner" style="opacity: 0; display: none")
    form(class="beginner__form" action="./rooms" method="POST")
      h1(class="form__heading") Fool
      div(class="form__field-name")
        label Name
        input(type="text" placeholder="Enter your name" name="name")
      input(type="submit" value="Get in" class="form__button-get-in")
  div(class="middle__introduce")
    div(class="introduce__name-game")
    div(class="introduce__picture")
      //- div(class="introduce__picture__joker")