main(class="middle")
  div(class="middle__wrap-form" style="opacity: 0; display: none")
    form(class="wrap-form__form" action="./rooms" method="POST")
      h1(class="wrap-form__form__heading") Gamer
      div(class="form__field-name")
        label Name
        input(type="text" placeholder="Enter your name" name="name")
      input(type="submit" value="Get in" class="form__button-get-in")
  div(class="middle__introduce")
    div(class="introduce__name-game")
    div(class="introduce__picture")