.cards {
  display: block;
  width: 115px;
  height: 23%;
  // background: rgb(107, 107, 218);
  // border: 1px solid red;
  position: absolute;
  top: 8px;
  left: 8px;
  border-radius: 10px;
}

.hidden {
  display: none;
}