.field {
  width: 90%;
  height: 92%;
  margin: auto;
  background: #0ca30c;
  border-radius: 10px;
  position: relative;
}
.nameGamer {
  color: white;
  font-family: 'RobotoItalic';
  position: absolute;
  bottom: 20%;
  left: 2%;
}
.gamerDefaultAvatar {
  width: 50px;
  height: 50px;
  border: 1px solid red;
  position: absolute;
  bottom: 10%;
  left: 2%;
}
.start {
  width: 100%;
  height: 100%;
  background: rgba(128, 128, 128, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.start .start__button {
  width: 25%;
  border: 0;
  outline: 0;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 5px #000000;
  height: 30px;
  cursor: pointer;
  font-family: 'RobotoItalic';
  font-size: 18px;
}
