.field {
  width: 100%;
  height: 100%;
  margin: auto;
  background: #0ca30c;
  border-radius: 10px;
  position: relative;
}
.userName {
  color: white;
  font-family: 'RobotoItalic';
  position: absolute;
  bottom: 20%;
  left: 2%;
}
.rivalName {
  color: white;
  font-family: 'RobotoItalic';
  position: absolute;
  top: 2%;
  right: 2%;
}
.gamerDefaultAvatar {
  width: 50px;
  height: 50px;
  border: 1px solid red;
  position: absolute;
  bottom: 8%;
  left: 2%;
}
.warning {
  line-height: 50px;
  padding: 0 10px 0 10px;
  background: #e03232;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #fff;
  color: white;
  font-family: 'RobotoItalic';
  position: absolute;
  top: -70px;
  left: 60%;
  z-index: 10;
}
.container-button {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.container-button .container-button__start {
  width: 20%;
  border-radius: 10px;
  border: 0;
  outline: 0;
  box-shadow: 2px 2px 1px #000;
  cursor: pointer;
  font-family: 'RobotoItalic';
}
.waiting {
  color: #fff;
  font-family: 'RobotoItalic';
  position: absolute;
  top: 50%;
  right: 50%;
}
